{% extends "layout.html" %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Admin Panel</h1>
    
    <h2>Users</h2>
    <table class="table table-striped"> 
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                    {% if user.role != 'admin' %}
                    <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Posts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Body</th>
                <th scope="col">Author</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <th scope="row">{{ post.id }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.body }}</td>
                <td>{{ post.user.username }}</td>
                <td>{{ post.created_at}}</td>
                <td>
                    <form action="{{ url_for('delete_post_admin', post_id=post.id) }}" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}